[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/lv_drivers"]
	path = third_party/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
